{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">주문번호</th>
          <th scope="col">주문자</th>
          <!-- <th scope="col">상품명</th>
          <th scope="col">수량</th> -->
          <th scope="col">주문날짜</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for order in order_list %}
        <tr style="cursor:pointer;" onclick="location.href='/order/{{order.ordernum}}'">
          <th>{{order.ordernum}}</th>
          <th>{{order.fcuser}}</th>
          <!-- <th>{{order.product}}</th>
          <th>{{order.quantity|intcomma}} 개</th> -->
          <!-- intcomma > humanize 활성화하고(settings파일도) 필터 등록-->
          <th>{{order.register_date|date:'Y-m-d H:i'}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  (function () {
    document.querySelector('#orderList').classList.add('active')
  })()
</script>
{% endblock %}
